<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="tpost.batch.dao">

<!-- 처음파일을 임시 테이블 파일에 적재 -->
<insert id="moblSndnBulkIns"  parameterType="tpost.batch.vo.moblSndnBulkInsVO">
INSERT /* moblSndnBulkIns */
INTO tpost.TB_MOBL_SNDN_MSG (
	DATA_GBN_CD				-- 01. 자료구분코드(0x00000003: SMS/LMS/MMS발송대상 송신
	, SVC_ORG_CD			-- 02. 기관코드 
	, TRANS_DT				-- 03. 요청일자
    , IPIN_CI				-- 04. 아이핀CI값
    , SVC_ORG_NM			-- 05. 기관명
    , MSG_TYPE				-- 06. 메시지타입(0:SMS, 1:LMS, 2:MMS)
    , MSG_INFO				-- 07. URL포함여부
    , MSG_SIZE				-- 08. 메시지사이즈
    , MSG_TEXT				-- 09. 메시지내용
    , MMS_IMG_SIZE			-- 10. MMS첨부이미지사이즈
    , MMS_IMG				-- 11. 이미지데이터
    , SRC_CALL_NO			-- 12. 회신번호
    , CN_FORM				-- 13. 문서명
    , MSG_TITLE				-- 14. 메시지제목
    , BALSONG_GBN			-- 15. 메시지발송구분
    , MULTI_MBL_PRC_GBN		-- 16. 다회선사용자발송구분
    , CELL_NO_LIST_SIZE		-- 17. 수신동의리스트사이즈
    , CELL_NO_LIST			-- 18. 수신동의리스트
    , SNDN_DTM				-- 19. 발송일시
    , SNDN_VLD_DTM			-- 20. 발송유효일시
    , SNDN_PROC_CL			-- 21. 발송처리구분
    , TOTAL_CNT				-- 22. 총건수(휴대폰매핑요청총건수)
    , TMPLT_CD				-- 23. 템플릿코드
    , ANOC_INFO_URL			-- 24. 고지안내URL
	, RCVE_RFSL_URL			-- 25. 수신거부URL
	, OFAP_ELCT_ADDR        -- 26. 공인전자주소
    , CRT_DATE				-- 27. 생성날짜
    , MDF_DATE				-- 28. 수정날짜
    , CRTR					-- 29. 생성자
    , AMDR					-- 30. 수정자
)
SELECT A.*
  FROM (
		SELECT     '3'                                         AS     DATA_GBN_CD				-- 01. 자료구분코드(0x00000003: SMS/LMS/MMS발송대상 송신
			,'100'                                           AS     SVC_ORG_CD			-- 02. 기관코드                                       
		    ,#{transDt        } /* 거래일자 */                    AS         TRANS_DT				-- 03. 요청일자                                       
			,' '                                             AS     IPIN_CI				-- 04. 아이핀CI값                                     
			,'건강보험공단'                                  AS     	    SVC_ORG_NM			-- 05. 기관명                                       
			,'2'                                             AS     MSG_TYPE				-- 06. 메시지타입(0:SMS, 1:LMS, 2:MMS)              
			,'1'                                             AS     MSG_INFO				-- 07. URL포함여부                                  
			,'71'                                            AS     MSG_SIZE				-- 08. 메시지사이즈                                 
			,'안녕하세요 최주영님 국민건강보험공단입니다.
귀하의 건강보험 추가검진 안내를 문자메시지로 보내 드립니다.

□ 열람기간 : 발송일로부터 90일 이내
□ 문의전화 : 국민건강보험 상담센터 1577-1000 

아래 안내문 확인하기 URL을 누른 후 본인인증을 하시면 안내문을 확인하실 수 있습니다.

 안내문확인하기 : http://10.10.19.64:8080/tpost/msgRcve/msgRcveGdc?a=lSJ100Wsl200cvn000i6x000Vx81
 수신거부/해제하기 : http://10.10.19.64:8080/tpost/msgRcve/msgRcveRfslDsms?a=DjO100Dtb200FEd000q4M000G6w1'                                              AS     MSG_TEXT				-- 09. 메시지내용                                   
			,'30493'                                         AS     MMS_IMG_SIZE			-- 10. MMS첨부이미지사이즈                        
			,'nhis/mmsFile/그림2_0.jpg'                      AS      MMS_IMG				-- 11. 이미지데이터                                   
			,'15771000'                                      AS     SRC_CALL_NO			-- 12. 회신번호                                     
			,'추가검진안내서'                                AS     		   CN_FORM				-- 13. 문서명                                         
			,'건강보험 추가검진 안내'                        AS     				 MSG_TITLE				-- 14. 메시지제목                                   
			,'0001'                                          AS     BALSONG_GBN			-- 15. 메시지발송구분                               
			,'0002'                                          AS     MULTI_MBL_PRC_GBN		-- 16. 다회선사용자발송구분                     
			,'0'                                             AS     CELL_NO_LIST_SIZE		-- 17. 수신동의리스트사이즈                     
			,''                                              AS     CELL_NO_LIST			-- 18. 수신동의리스트                             
			,#{sndnDtm        }  /* 시작시간 */                 AS        SNDN_DTM				-- 19. 발송일시                                     
			,#{sndnVldDtm     }  /* 종료 */                    AS      SNDN_VLD_DTM			-- 20. 발송유효일시                               
			,'0'                                             AS     SNDN_PROC_CL			-- 21. 발송처리구분                               
			, 0	                                             AS     TOTAL_CNT				-- 22. 총건수(휴대폰매핑요청총건수)                 
		    , 'NHIS00005'                                  AS     TMPLT_CD				-- 23. 템플릿코드                                   
		    ,'lSJ100Wsl200cvn000i6x000Vx81'                AS     ANOC_INFO_URL			-- 24. 고지안내URL                                
			, 'DjO100Dtb200FEd000q4M000G6w1'                 AS     RCVE_RFSL_URL			-- 25. 수신거부URL                                  
			,'1002000000001'                                 AS     OFAP_ELCT_ADDR        -- 26. 공인전자주소                             
			,NOW()                                           AS     CRT_DATE				-- 27. 생성날짜                                     
			,NOW()                                           AS     MDF_DATE				-- 28. 수정날짜                                     
			,'batch'                                         AS     CRTR					-- 29. 생성자                                         
			,'batch'                                         AS     AMDR					-- 30. 수정자                                         
		FROM DUAL
	) A CROSS JOIN
	(
	   SELECT AA.*
	    FROM ( 
				SELECT AAA.* 
				FROM (
  				       SELECT AAAA.*
  				         FROM (
				 				SELECT 1 FROM DUAL UNION ALL  
								SELECT 2 FROM DUAL UNION ALL 
								SELECT 3 FROM DUAL UNION ALL  
								SELECT 4 FROM DUAL UNION ALL  
								SELECT 4 FROM DUAL UNION ALL  
								SELECT 4 FROM DUAL UNION ALL  
								SELECT 4 FROM DUAL UNION ALL  
								SELECT 5 FROM DUAL 
							 ) AAAA, 	
							 (
				 				SELECT 1 FROM DUAL UNION ALL  
								SELECT 2 FROM DUAL UNION ALL 
								SELECT 3 FROM DUAL UNION ALL  
								SELECT 3 FROM DUAL UNION ALL  
								SELECT 4 FROM DUAL UNION ALL  
								SELECT 4 FROM DUAL UNION ALL  
								SELECT 4 FROM DUAL UNION ALL  
								SELECT 5 FROM DUAL 
							 ) AAA1
				) AAA ,
				   ( 
		 				SELECT AA10.*
  				         FROM (
				 				SELECT 1 FROM DUAL UNION ALL  
								SELECT 2 FROM DUAL UNION ALL 
								SELECT 3 FROM DUAL UNION ALL  
								SELECT 3 FROM DUAL UNION ALL  
								SELECT 4 FROM DUAL UNION ALL  
								SELECT 4 FROM DUAL UNION ALL  
								SELECT 4 FROM DUAL UNION ALL  
								SELECT 5 FROM DUAL 
							 ) AA10, 	
							 (
				 				SELECT 1 FROM DUAL UNION ALL  
								SELECT 2 FROM DUAL UNION ALL 
								SELECT 3 FROM DUAL UNION ALL  
								SELECT 3 FROM DUAL UNION ALL  
								SELECT 4 FROM DUAL UNION ALL  
								SELECT 4 FROM DUAL UNION ALL  
								SELECT 4 FROM DUAL UNION ALL  
								SELECT 5 FROM DUAL 
							 ) AA12
				) AA1 
		  ) AA 
		  ,(
		 				SELECT AA10.*
  				         FROM (
				 				SELECT 1 FROM DUAL UNION ALL  
								SELECT 2 FROM DUAL UNION ALL 
								SELECT 3 FROM DUAL UNION ALL  
								SELECT 3 FROM DUAL UNION ALL  
								SELECT 4 FROM DUAL UNION ALL  
								SELECT 4 FROM DUAL UNION ALL  
								SELECT 4 FROM DUAL UNION ALL  
								SELECT 5 FROM DUAL 
							 ) AA10, 	
							 (
				 				SELECT 1 FROM DUAL UNION ALL  
								SELECT 2 FROM DUAL UNION ALL 
								SELECT 3 FROM DUAL UNION ALL  
								SELECT 3 FROM DUAL UNION ALL  
								SELECT 4 FROM DUAL UNION ALL  
								SELECT 4 FROM DUAL UNION ALL  
								SELECT 4 FROM DUAL UNION ALL  
								SELECT 5 FROM DUAL 
							 ) AA12
					   UNION ALL 		 
					   SELECT AA10.*
  				         FROM (
				 				SELECT 1 FROM DUAL UNION ALL  
								SELECT 2 FROM DUAL UNION ALL 
								SELECT 3 FROM DUAL UNION ALL  
								SELECT 3 FROM DUAL UNION ALL  
								SELECT 4 FROM DUAL UNION ALL  
								SELECT 4 FROM DUAL UNION ALL  
								SELECT 4 FROM DUAL UNION ALL  
								SELECT 5 FROM DUAL 
							 ) AA10, 	
							 (
				 				SELECT 1 FROM DUAL UNION ALL  
								SELECT 2 FROM DUAL UNION ALL 
								SELECT 3 FROM DUAL UNION ALL  
								SELECT 3 FROM DUAL UNION ALL  
								SELECT 4 FROM DUAL UNION ALL  
								SELECT 4 FROM DUAL UNION ALL  
								SELECT 4 FROM DUAL UNION ALL  
								SELECT 5 FROM DUAL 
						 ) AA12
		     ) BB
	) B
</insert>

</mapper>